{% for allData in data %}

<a href="{% url 'detail' pk=allData.pk %}" class="text-decoration-none text-dark hover-link">
  {% if allData.diff_level == 1 %}
  <div class=" col mb-4" title="Very Easy">
    <div class="card h-100">
      <div class="card-img-top text-center bg-dark" style="height: 200px;">
        <h1 class="mt-5 text-white" style="font-size: 70px;">{{allData.name}}</h1>
      </div>
      <div class="card-body">
        <h3 class="card-title text-center text-bolder">Difficulty Level</h3><br>
        <p class="card-text text-center">
          <span class="rounded-circle box1-fill-green"></span>
          <span class="rounded-circle box1-green"></span>
          <span class="rounded-circle box1-green"></span>
          <span class="rounded-circle box1-green"></span>
          <span class="rounded-circle box1-green"></span>

        </p><br>
      </div>
    </div>
  </div>

  {% elif allData.diff_level == 2 %}
  <div class="col mb-4" title="Easy">
    <div class="card h-100">
      <div class="card-img-top text-center bg-dark" style="height: 200px;">
        <h1 class="mt-5 text-white" style="font-size: 70px;">{{allData.name}}</h1>
      </div>
      <div class="card-body">
        <h3 class="card-title text-center text-bolder">Difficulty Level</h3><br>
        <p class="card-text text-center">
          <span class="rounded-circle box1-fill-green"></span>
          <span class="rounded-circle box2-fill-lightgreen"></span>
          <span class="rounded-circle box1-green"></span>
          <span class="rounded-circle box1-green"></span>
          <span class="rounded-circle box1-green"></span>
        </p><br>
      </div>
    </div>
  </div>

  {% elif allData.diff_level == 3 %}
  <div class="col mb-4" title="Moderate">
    <div class="card h-100">
      <div class="card-img-top text-center bg-dark" style="height: 200px;">
        <h1 class="mt-5 text-white" style="font-size: 70px;">{{allData.name}}</h1>
      </div>
      <div class="card-body">
        <h3 class="card-title text-center text-bolder">Difficulty Level</h3><br>
        <p class="card-text text-center">
          <span class="rounded-circle box1-fill-green"></span>
          <span class="rounded-circle box2-fill-lightgreen"></span>
          <span class="rounded-circle box3-fill-yellow"></span>
          <span class="rounded-circle box1-green"></span>
          <span class="rounded-circle box1-green"></span>
        </p><br>
      </div>
    </div>
  </div>

  {% elif allData.diff_level == 4 %}
  <div class="col mb-4" title="Difficult">
    <div class="card h-100">
      <div class="card-img-top text-center bg-dark" style="height: 200px;">
        <h1 class="mt-5 text-white" style="font-size: 70px;">{{allData.name}}</h1>
      </div>
      <div class="card-body">
        <h3 class="card-title text-center text-bolder">Difficulty Level</h3><br>
        <p class="card-text text-center">
          <span class="rounded-circle box1-fill-green"></span>
          <span class="rounded-circle box2-fill-lightgreen"></span>
          <span class="rounded-circle box3-fill-yellow"></span>
          <span class="rounded-circle box4-fill-lightred"></span>
          <span class="rounded-circle box1-green"></span>
        </p><br>
      </div>
    </div>
  </div>

  {% elif allData.diff_level == 5 %}
  <div class="col mb-4" title="Very Difficult">
    <div class="card h-100">
      <div class="card-img-top text-center bg-dark" style="height: 200px;">
        <h1 class="mt-5 text-white" style="font-size: 70px;">{{allData.name}}</h1>
      </div>
      <div class="card-body">
        <h3 class="card-title text-center text-bolder">Difficulty Level</h3><br>
        <p class="card-text text-center">
          <span class="rounded-circle box1-fill-green"></span>
          <span class="rounded-circle box2-fill-lightgreen"></span>
          <span class="rounded-circle box3-fill-yellow"></span>
          <span class="rounded-circle box4-fill-lightred"></span>
          <span class="rounded-circle box5-fill-red"></span>
        </p><br>
      </div>
    </div>
  </div>

  {% else %}
  <div class="col mb-4" title="easy">
    <div class="card h-100">
      <div class="card-img-top text-center bg-dark" style="height: 200px;">
        <h1 class="mt-5 text-white" style="font-size: 70px;">{{allData.name}}</h1>
      </div>
      <div class="card-body">
        <h3 class="card-title text-center text-bolder">Difficulty Level</h3><br>
        <p class="card-text text-center">
          <i class="fa fa-html5" aria-hidden="true">Not Mention</i>
        </p><br>
      </div>
    </div>
  </div>
  {% endif %}

</a>
{% endfor %}