{% block search %}
<div class="navbar-collapse" id="navbarSupportedContent">
  <form class="form-inline my-2 my-lg-0 ml-auto" method="post" action="{% url 'search' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2 mx-auto" type="search" name="search" placeholder="Search" aria-labe l="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 mr-auto" onclick="myFunction()" type="submit">Search</button>
  </form>
</div>
{% endblock search %}