{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/ico" href="{% static 'home/images/title_logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'language/css/descriptive.css' %}" type="text/css">
  <title>{{instance.name}}</title>
</head>

<body>
  <div class="container mt-5 text-center">
    <a class="btn btn-success" href="{% url 'index' %}" role="button">Home</a>
    {% for datas in instance.description_set.all %}
    <div class="mt-5 card mb-3">

      <a href="{{datas.url_link}}" class="image-hover-zoom" target="_blank">
        <img src="{{datas.image.url}}" class="img-responsive" width="100%" height="100%" alt="{{datas.name}}">

      </a>

      <div class="card-body">
        <h5 class="card-title" style="text-align: left;"><ins>Description :-</ins></h5>
        <p class="card-text text-justify" style="text-indent: 50px;">{{datas.desp}}</p>

        <table class="table table-bordered col-sm-4 text-center">
          <thead>
            <tr>
              <th scope="col">Approx.</th>
              <th scope="col">Salary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Annual Salary</td>
              <td>${{datas.salary}}</td>
            </tr>
          </tbody>
        </table>

        <p class=" card-text"><small class="text-muted">Thank You</small></p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>