.image-hover-zoom:hover img {
	/* transform: scale3d(0.9, 0.9, 0.9); */
	transform: scale(0.9);
}
.image-hover-zoom img {
	transition: 0.5s;
}
table {
	border-radius: 5px;
	width: 50%;
	margin: 0px auto;
	float: none;
}
