.borders {
	border-bottom: 4px solid #dee2e6 !important;
}
.hover-link {
	transition: 0.5s;
}
.hover-link:hover {
	transform: scale(1.1);
	transition: 0.5s;
}
.img-center {
	/* display: inline-flex; */
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

/* fill boxex */
.box1-fill-green {
	border: 15px solid green;
	margin: 0px 12px 0px 12px;
}
.box2-fill-lightgreen {
	border: 15px solid lightgreen;
	margin: 0px 12px 0px 12px;
}
.box3-fill-yellow {
	border: 15px solid rgb(190, 190, 64);
	margin: 0px 12px 0px 12px;
}
.box4-fill-lightred {
	border: 15px solid lightcoral;
	margin: 0px 12px 0px 12px;
}
.box5-fill-red {
	border: 15px solid red;
	margin: 0px 12px 0px 12px;
}

/* empty box */
.box1-green {
	border: 2px solid green;
	padding: 12px;
	margin: 12px;
}
.box2-lightgreen {
	border: 2px solid lightgreen;
	padding: 12px;
	margin: 12px;
}
.box3-yellow {
	border: 2px solid rgb(190, 190, 64);
	padding: 12px;
	margin: 12px;
}
.box4-lightred {
	border: 2px solid lightcoral;
	padding: 12px;
	margin: 12px;
}
.box5-red {
	border: 2px solid lightcoral;
	padding: 12px;
	margin: 12px;
}

.card-body h3 {
	font-size: 3vw;
}
p {
	font-size: 3vw;
}
